@font-face {
  font-family: "fakereceipt";
  src: url("./fonts/fakereceipt.ttf");
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  font-family: 'fakereceipt';
}

button {
  background: transparent;
  border: none;
  margin: auto;
  color: black;
}

hr.line {
  border-top: 1px dashed black;
  width: 90%;
  margin: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: white;
  color: black;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 15px 0;
  color:black;
  font-size: 24px;
}

.grocery-form {
  margin-bottom: 32px;
}

.grocery-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid black;
  outline: none;
  width: 320px;
  background: transparent;
  color: grey;
}

.grocery-input::placeholder {
  color: grey;
}

.item-button {
  margin: 0;
  padding: 14px 16px;
  border: solid;
  border-width: 2px 2px 2px 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  color: black;
  text-transform: capitalize;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: black;
}

.edit-icon {
  color: black;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid black;
  background: white;
  border-radius: 50px;
  font-size: 16px;
  color: black;
  min-width: 70px;
  justify-content: space-between;
}

.total {
  padding: 20px;
}

.list-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
}